@media (min-width: 240px) and (max-width: 768px) {
    ion-col {
        border: none;
    }
}

ion-card {
    color: grayscale($color: #000000);
    background-color: white;
    position: relative;
    margin-bottom: 25px;
  }

.resend-link {
    color: #0300dc !important;
    text-decoration: underline;
}