<ion-content fullscreen="true" class="bg-class" no-padding>
  <ion-grid style="height:99%">
    <ion-row justify-content-center style="height:100%">
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <img src="assets/imgs/cariqlogo.svg">
        </div>
        <div text-center>
          <ion-text color="light">
            <h4>OTP</h4>
            <h6>Please enter OTP</h6>
          </ion-text>
        </div>
        <ion-card>
          <ion-card-content>
            <div>
              <ion-text>
                <h3>OTP </h3>
              </ion-text>
            </div>
            <div>
              <ion-grid>
                <ion-row justify-content-center>
                  <ion-col>
                    <ion-input text-center class="borderedinput" #txtotp1 type="tel" maxlength="1"
                      pattern="\d" [(ngModel)]="otp1" clearOnEdit="true" (keyup)="navigateControl($event, txtotp2, '')" required></ion-input>
                  </ion-col>
                  <ion-col>
                    <ion-input text-center class="borderedinput" #txtotp2 type="tel" maxlength="1"
                    pattern="\d" [(ngModel)]="otp2" clearOnEdit="true" (keyup)="navigateControl($event, txtotp3, txtotp1)" required></ion-input>
                  </ion-col>
                  <ion-col>
                    <ion-input text-center class="borderedinput" #txtotp3 type="tel" maxlength="1"
                    pattern="\d" [(ngModel)]="otp3" clearOnEdit="true" (keyup)="navigateControl($event, txtotp4, txtotp2)" required></ion-input>
                  </ion-col>
                  <ion-col>
                    <ion-input text-center class="borderedinput" #txtotp4 type="tel" maxlength="1"
                    pattern="\d" [(ngModel)]="otp4" clearOnEdit="true" (keyup)="navigateControl($event, '', txtotp3)" (keyup.enter)="verifyOTP()" required></ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-card-content>
        </ion-card>

        <div id="ionfabedge">
          <ion-fab vertical="bottom" horizontal="center" slot="fixed">
            <ion-fab-button size="small" (click)="verifyOTP()">
              <img src="assets/imgs/rightarrow.svg">
            </ion-fab-button>
          </ion-fab>
        </div>


      </ion-col>
      <ion-col>
        <div text-center>
          <ion-label vertical="bottom" horizontal="end" slot="fixed" style="font-size: 12px;" color="light">Didn't
            receive OTP? <a class="resend-link" (click)="resendOTP()">
              Resend</a></ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>