<ion-header>
  <ion-toolbar class="bg-class">
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Terms &amp; Conditions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div>

    <div class="sub-heading">
      <!-- <h3>Terms &amp; Conditions</h3> -->
      <p>Please read the T&amp;C carefully</p>
    </div>

    <div class="tnc-container">
      <div class="tnc-content">
        <p>This agreement is made as part of an online application (the “Application”) for participation in the CarIQ
          site, applications (the “Apps”) and any services or products (the “Services”) provided by CarIQ Technologies
          Pvt. Ltd. (“CarIQ”) on or in connection with the CarIQ Site and includes, in addition to the terms set forth
          below, all rules and policies for participating in the Services provided on the CarIQ Site, the Terms and
          Conditions, the CarIQ Privacy Policy (collectively, this “Agreement”)</p>
        <p>This Agreement is a binding agreement between CarIQ and you with respect to your participation (the “User”)
          in the Services and your consumption of Services through the CarIQ Site and Apps. If the User is an Entity,
          the individual person who accepts this Agreement represents and warrants that he or she is entitled to enter
          this Agreement as an authorized representative of the Entity and to bind the Entity to the terms of this
          Agreement.</p>
        <p>Given the importance of the terms of this Agreement, we encourage you to study them carefully.</p>
        <p>&nbsp;</p>
        <p><em>General Terms Applicable to all Users</em></p>
        <p><strong>Account Responsibility</strong></p>
        <p>The User is responsible for maintaining the confidentiality of the User’s account ID and password and the
          User accepts responsibility for all activities that occur under the User’s account or password. The User, if
          an individual, affirms that he or she is competent to understand, enter into, and comply with these Terms and
          Conditions, and (ii) is not under 13 years of age. Where the User is 13 years of age or older but is not of
          the age of majority in the User’s jurisdiction of residence (a “Minor”), the User may not use certain
          Services or access certain portions of the Services, as determined by CarIQ in its sole discretion from time
          to time, except under the supervision of a parent or guardian who is also a User and who is not a Minor. For
          example, Users may not purchase or order any materials from the CarIQ Site and will generally only be able to
          access features granted to them by a parent or guardian.</p>
        <p>Changes to these Terms and Conditions</p>
        <p>CarIQ reserves the right to make changes to these Terms and Conditions by advising the User of the proposed
          change using a form of notice that is appropriate for the nature of the proposed change(s), including where
          appropriate by posting amended Terms and Conditions on the CarIQ Site. The changes are effective on the later
          of (i) the date specified in a notice delivered by CarIQ to the User advising of such changes (which message
          may be delivered by email, messaging, or other electronic means), or (ii) 14 days after the amended Terms and
          Conditions are posted on the CarIQ Site. If the User does not agree to the amended Terms and Conditions, the
          User may no longer use the CarIQ Site or the Services after the effective date of the amendment.</p>
        <p>&nbsp;</p>
        <p><strong>Privacy Policy</strong></p>
        <p>CarIQ collects, uses, and discloses the User’s personal information in accordance with its Privacy Policy,
          which is outlined below. By providing information to CarIQ, the User consents to the use of such personal
          information in accordance with the Privacy Policy.</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>CarIQ is committed to protecting your privacy and earning and keeping your trust. We understand that you
          value your privacy, and that you may have concerns about how the data is collected, stored and utilized.</p>
        <p>&nbsp;</p>
        <p><strong><em>Data Collected</em></strong></p>
        <p><em>The CarIQ device collects:</em></p>
        <p><em>Diagnostic Trouble Codes (DTC)</em></p>
        <p><em>Location</em></p>
        <p><em>Speed</em></p>
        <p><em>Acceleration</em></p>
        <p><em>Vibration</em></p>
        <p><em>G-forces</em></p>
        <p><em>VIN number</em></p>
        <p>&nbsp;</p>
        <p><strong>Use of the CarIQ Site</strong></p>
        <p>Effective upon CarIQ’s acceptance of a User’s request to become a registered User of the CarIQ Site and
          provided that the User continues to comply with these Terms and Conditions, CarIQ grants to the User a
          personal, non-assignable, license to log into and access the CarIQ Site, access content made publicly
          available on the CarIQ Site (the “Public Content”). Any breach of express license restrictions on any of the
          Site Content may lead to termination of a User’s account and his/her further access to the CarIQ Site and the
          Services.</p>
        <p>&nbsp;</p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>Fees</strong></p>
        <p>Subject to any licensing restrictions attached to any part of the Site Content, a User may view the Public
          Content on the CarIQ Site at no cost. Users will be responsible for paying all fees associated with
          applicable Services as clearly outlined on the CarIQ Site.</p>
        <p>&nbsp;</p>
        <p><strong>Termination of Access</strong></p>
        <p>If the User uses the CarIQ Site in any manner that is prohibited by these Terms and Conditions, CarIQ may
          without notice terminate or suspend the User’s use of or access to the CarIQ Site or the Services.</p>
        <p>&nbsp;</p>
        <p><strong>Changes to the CarIQ Site and Services</strong></p>
        <p>CarIQ reserves the right to change any aspect of the CarIQ Site or the Services including the right to
          refuse or remove any part of the Site Content, whatever the source, at any time without any notice or
          liability to the User.</p>
        <p>&nbsp;</p>
        <p><strong>Prohibited Use of the CarIQ Site</strong></p>
        <p>The User may not use the CarIQ Site to engage in any unlawful activity or to infringe the rights of CarIQ,
          its affiliates, or its customers, or any third party. The User will not (and will not allow the User’s
          employees or agents to) (I) interfere with the operation of the CarIQ Site or the Services in any way, or
          interfere with anyone’s use or enjoyment of the CarIQ Site or the Services, or use the CarIQ Site or the
          Services to gain unauthorized access to other computer systems; (ii) send chain letters, junk mail, or spam
          or use any distribution lists in respect of any person who has not given specific permission to be included
          in such a process or to distribute or publish advertisements or solicitations of business other than such
          communications expressly permitted by CarIQ; (iii) broadcast, publish or transmit any unlawful, harassing,
          libellous, defamatory, abusive, threatening, or harmful material of any kind or broadcast, publish or
          transmit any material that encourages conduct that could constitute a criminal offence, give rise to civil
          liability, or otherwise violate any applicable local, provincial, state, national or international law or
          regulation; (iv) impersonate any person or entity on or through the CarIQ Site; (v) post any content that
          infringes or misuses any copyright or other right of any person, or may be considered threatening, abusive,
          vulgar, obscene, or otherwise objectionable; (vi) reverse assemble, reverse engineer, decompile, or otherwise
          attempt to derive source code from the software used in the CarIQ Site or any component thereof (except as
          permitted under applicable local law after having given CarIQ written notice of requiring such information or
          specifications for the good faith and reasonable purpose of interoperability); (vii) copy, reproduce, modify,
          sell, lease, scrape content from or aggregate, sublicense, market, or otherwise change or commercially
          exploit in any way the CarIQ Site or the Site Content or the Services or any component thereof other than as
          may be expressly permitted by CarIQ or as permitted by applicable laws; or (viii) disclose the User’s
          password or otherwise grant access to the CarIQ Site to any third party, other than the User’s authorized
          agent. The User agrees to abide by all additional rules, policies, and restrictions of which the User is
          provided with notice that apply to any portion of the CarIQ Site or the Services.</p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>Operation and Maintenance of the CarIQ Site</strong></p>
        <p>CarIQ operates the CarIQ Site in a commercially reasonable manner and may from time to time interrupt the
          CarIQ Site’s services for regular and emergency maintenance. Where CarIQ has advance knowledge of any
          interruption to the Services, CarIQ will make reasonable efforts to provide advance notice to the User of any
          such interruption.</p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>Monitoring Use of the CarIQ Site and Services</strong></p>
        <p>CarIQ may monitor the CarIQ Site but is under no obligation to do so. The User hereby waives any expectation
          of privacy in such information and activity. The User’s waiver of rights in all such monitoring does not
          apply to personally identifiable information, which is handled by CarIQ in accordance with the Privacy Policy
          of the CarIQ Services.</p>
        <p>&nbsp;</p>
        <p><strong>Intellectual Property of CarIQ</strong></p>
        <p>The copyright to the CarIQ Site, the design and appearance of the CarIQ Site, and all of the material and
          the Site Content are owned by or licensed to CarIQ. This material is protected by law against unauthorized
          copying and reproduction. Any use, reproduction, or distribution of Site Content, including caching, framing,
          or similar means, from the CarIQ Site (except as permitted herein) without permission of CarIQ is expressly
          prohibited.</p>
        <p>Copyright 2012-2013 CarIQ Inc. All rights reserved.</p>
        <p>CarIQ and other CarIQ graphics, logos, publication designs, and service names are trade-marks of CarIQ or
          its affiliates or associates. All other trade-marks not owned by CarIQ or its affiliates that appear on the
          CarIQ Site are the property of their respective owners, who may or may not be affiliated with, connected to,
          or sponsored by CarIQ or its affiliates. The display of any trade-marks on the CarIQ Site does not imply that
          a license has been granted for any further use.</p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>Trademark License for Marketing, Promotion, and Distribution</strong></p>
        <p>Each party (as “Licensor”) hereby grants to the other party (as” Licensee”) a nonexclusive, non-royalty
          bearing, worldwide license to use its trademarks and logos and, in the case of&nbsp;User,&nbsp;the trademarks
          and logos of any of its affiliates and the licensors of User and its affiliates that are implementing Apps on
          the CarIQ Site to market, promote, distribute, and deliver Apps as contemplated by this Agreement. The
          Licensor may terminate or limit the foregoing license if, in the Licensor’s reasonable discretion, the
          Licensee’s use of the Licensor’s Mark tarnishes, blurs or otherwise dilutes the quality or goodwill
          associated with the Marks and such use is not cured within ten (10) days of receipt of a written notice
          thereof. Title to Licensor’s Marks, and all goodwill associated therewith, remains with the Licensor. The
          Licensee shall use the Licensor’s Marks exactly in the form provided and pursuant to any style guidelines
          communicated to it. The Licensee shall not take any action inconsistent with the Licensor’s ownership of its
          Marks, and any benefits accruing from use of such Marks, including all goodwill associated therewith, shall
          automatically vest in the Licensor. The Licensee shall use the Licensor’s Marks in a manner that creates a
          separate and distinct impression from any other trademark, trade name or service mark.</p>
        <p>&nbsp;</p>
        <p><strong>Claims of Infringement</strong></p>
        <p>CarIQ respects the intellectual property rights of others. If any person believes that his or her work is
          accessible on or through the CarIQ Site in a way that constitutes copyright infringement, please
          contact&nbsp;honk@mycariq.com&nbsp;to report copyright infringement. Upon provision of a notification in
          accordance herein, CarIQ, in its discretion, may suspend access to such allegedly infringing content until
          resolution of the dispute between the rights holder and the alleged infringer.</p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>Dealing with Third Parties</strong></p>
        <p>Any correspondence or business dealings with any third parties found on or through the CarIQ Site is solely
          between the User and such parties. CarIQ is not responsible for any damages the User may suffer by entering
          into such transactions or communications.</p>
        <p>&nbsp;</p>
        <p><strong>No Warranties and No Liability</strong></p>
        <p>The User acknowledges and agrees that the CarIQ Site and the Services are provided on an “as is”, “without
          any warranties”, and “without any liability” basis. The parties to these Terms and Conditions acknowledge and
          agree that this limitation on liability is reasonable in the circumstances.</p>
        <p>CarIQ does not guarantee the quality, accuracy, completeness, or timeliness of the CarIQ&nbsp;Site or the
          Services provided in connection therewith, which may contain errors. The User should not assume that the
          User’s use of the CarIQ&nbsp;Site or the Services will be error free or that the Site will operate without
          interruption. CarIQ does not warrant that the CarIQ site, its servers, or any communication originating from
          the CarIQ site OR CarIQ are free of viruses, trojan horses, or other harmful components.</p>
        <p>CarIQ disclaims And EXCLUDES To the Maximum Extent Permitted by Applicable Law all warranties,
          representations, and conditions regarding use of the CarIQ Site or the Services, including all implied
          warranties or conditions of merchantability, MERCHANTABLE QUALITY, fitness for a particular purpose, or
          non-infringement, whether express or implied and whether arising from a course of dealing, usage, or trade
          practice.</p>
        <p>CarIQ is not responsible for any indirect, special, incidental, consequential, or punitive damages
          whatsoever arising out of or in connection with the use Or Misuse of the CarIQ Site or the Services or in
          reliance on the Apps available on the CarIQ Site, including without limitation any business interruption,
          loss of use, lost data, lost profits, failure to realize expected savings, or any pecuniary loss, whether in
          an action of contract, civil liability, negligence, or other tortuous action, even if CARIQ has been informed
          of the possibility of such damages or such damages are reasonably foreseeable.</p>
        <p>Where the limitation or the exclusion of certain types of damages is not allowed, the limitations,
          exclusions, and disclaimers in these terms and conditions shall not apply only if and to the extent that the
          laws of a competent jurisdiction requires liabilities beyond and despite the limitations, exclusions, and
          disclaimers in these terms and conditions.</p>
        <p>&nbsp;</p>
        <p><strong>Limit on Damages and Claims</strong></p>
        <p>Notwithstanding any other provisions of these terms and conditions, the User acknowledges and agrees that
          under no circumstances shall the aggregate of CarIQ’s liability exceed the fees actually paid by the User in
          respect of the CarIQ site.</p>
        <p>Any cause of action that the User may have arising out of or related to the CarIQ site or the services must
          commence within one (1) year after the cause of action accrues. Otherwise, unless and to the extent such
          limitation is prohibited by applicable laws, such cause of action is permanently barred.</p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>Indemnity</strong></p>
        <p>The User hereby agrees to hold harmless and indemnify CarIQ and its officers, directors, employees,
          consultants, and agents from any and all third party claims, liability, damages, or costs they incur arising
          as a result of the User’s misuse of the CarIQ Site &amp; Services, the User’s violation of these Terms and
          Conditions, or the User’s infringement of any intellectual property or other right of CarIQ or any other
          person or entity, including such activities that are carried out by any individual using the User’s account
          ID or password information.</p>
        <p>&nbsp;</p>
        <p><strong>Jurisdiction</strong></p>
        <p>Any dispute relating to the CarIQ Site or Services shall be governed by Ministry of Corporate Affairs and
          shall be adjudicated by the courts of India. Nothing in these Terms and Conditions shall prevent CarIQ from
          seeking injunctive or other equitable relief, payment of amounts due, or enforcement of an award before any
          court having jurisdiction over the User or otherwise over such subject matter. CarIQ makes no representation
          that the CarIQ Site or the Services are appropriate or available for use in all locations, and accessing the
          CarIQ Site from territories where the CarIQ Site or its content is illegal is prohibited. If the User chooses
          to access the CarIQ Site from such a location, the User does so, on the User’s own initiative and the User is
          responsible for compliance with applicable local laws.</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><em>Specific Terms Applicable to Certain Users</em></p>
        <p><strong>Type of Users</strong></p>
        <p>While all Users are subject to the General Terms above, certain Users are subject to further specific terms.
          The types of Users are:</p>
        <p>“Purchaser” which means a User who places an Order;</p>
        <p>“Developer” which means a User who uploads Apps and makes such Apps available to the public</p>
        <p>For greater certainty, a Developer may be a Purchaser as well, and a Purchaser who makes Apps publicly
          available on the CarIQ Site becomes a Developer.</p>
        <p>&nbsp;</p>
        <p><strong>Private Uploaded Apps</strong></p>
        <p>Apps which are not made publicly available on the CarIQ Site is referred to as “Private Apps”. Subject to
          any other agreement between the Developer and CarIQ (i) the Developer represents and warrants that the
          Developer owns the Private App and all intellectual property rights and other rights therein or has obtained
          all license rights necessary to enable the relevant activities, (ii) the Developer is responsible for
          ensuring that the Developer has the right to provide the Private App to CarIQ for hosting and transmission
          with the CarIQ Site and the Services (to the extent applicable), and (iii) notwithstanding any disclaimers or
          limitations otherwise applicable in respect of the Private App, the Developer agrees to hold harmless and
          indemnify CarIQ for any liability arising from the Private App.</p>
        <p>&nbsp;</p>
        <p><strong>Published Apps</strong></p>
        <p>Subject to any other agreement between Developer and CarIQ (i) Developer represents and warrants that
          Developer owns the Published App and all intellectual property rights and other rights therein or has
          obtained all license rights necessary to enable the relevant activities, (ii) Developer is responsible for
          ensuring that Developer has the right to provide the Published App to CarIQ for hosting and transmission in
          connection with the CarIQ Site and the Services, and (iii) notwithstanding any disclaimers or limitations
          otherwise applicable in respect of the Published App, the Developer agrees to hold harmless and indemnify
          CarIQ for any liability arising from the Published App.</p>
        <p>By uploading or otherwise making available Published Apps, Developer grants to CarIQ the right to make
          available such Published Apps on the CarIQ Site and allow others to use the Published App as contemplated in
          these Terms and Conditions and in the applicable service and product descriptions.</p>
        <p>In the event of any inconsistency between the provisions of these Terms and Conditions and the applicable
          license terms, these Terms and Conditions shall prevail to the extent of such inconsistency and such license
          terms will be deemed to have been modified, in writing, by CarIQ and Developer.</p>
        <p>&nbsp;</p>
        <p><strong>Ownership of Uploaded Apps</strong></p>
        <p>Unless otherwise stated for specific Services, the Developer or its licensors will retain ownership of and
          all related rights in any original content provided by the Developer.</p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>Taxes</strong></p>
        <p>Any Order which specifies delivery of shipment outside India may be subject to additional or other taxes or
          charges, all of which are the responsibility of the Purchaser.</p>
        <p>&nbsp;</p>
        <p><strong>Import Fees</strong></p>
        <p>Delivery of an Order may be subject to import taxes, customs duties, and fees levied by the country where
          the recipient receives shipment of the Order (“Import Fees”), which may include India in the circumstances
          where CarIQ uses a third-party service provider located outside India to ship the Order to the Purchaser. The
          Purchaser is responsible for all Import Fees and any additional charges for customs clearance. CarIQ has no
          control over these charges. Customs policies vary widely from country to country; a Purchaser should contact
          his/her local customs office for further information.</p>
        <p>&nbsp;</p>
        <p><strong>Risk of Loss</strong></p>
        <p>If an item ordered from CarIQ is substantially damaged in transit to the Purchaser, the Purchaser may
          request a replacement from CarIQ, at CarIQ’s cost, provided that the Purchaser will, as directed by CarIQ,
          either return the item to CarIQ or destroy the item.</p>
      </div>
    </div>
    <br />
  </div>
</ion-content>