ion-card {
    color: grayscale($color: #000000);
    background-color: white;
    position: relative;
    margin-bottom: 25px;
}

.terms-condition-link {
    color: #0300dc !important;
    font-size: 12px;
    text-decoration: underline;
    margin-left: 10px !important;
}
