<ion-content fullscreen="true" class="bg-class" no-padding>
  <ion-grid style="height:100%">
    <ion-row justify-content-center style="height:100%">
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <img src="assets/imgs/cariqlogo.svg">
        </div>
        <div text-center>
          <ion-text color="light">
            <h1>Welcome to WatchDog</h1>
          </ion-text>
        </div>
        <ion-card>
          <ion-card-content>
            <div>
              <ion-text>
                <h3>Login</h3>
              </ion-text>
            </div>
            <br>
            <div>
              <ion-input class="borderedinput" #mobileNo type="tel" (keyup.enter)="login()" autofocus="true"
                placeholder="Mobile" pattern="\d*" [(ngModel)]="mobileNumber" maxlength="10" required></ion-input>
            </div>

            <div>
              <ion-row justify-content-center padding>
                <ion-checkbox [(ngModel)]="iagree"></ion-checkbox>
                <a class="terms-condition-link" (click)="termsAndConditions()"> I accept Terms & Conditions</a>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
        <div id="ionfabedge">
          <ion-fab vertical="bottom" horizontal="center" slot="fixed">
            <ion-fab-button size="small" (click)="login()">
              <img src="assets/imgs/rightarrow.svg">
            </ion-fab-button>
          </ion-fab>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>