<ion-split-pane>
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar>
        <ion-item detail="false" lines="none" routerLink="/profile" routerDirection="forward">
          <!-- <img class="profile-pics" src="assets/imgs/user.svg" alt=""> -->
          <ion-label>
            <b> {{ name }}</b></ion-label>
        </ion-item>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item detail="false" lines="none" [routerLink]="p.url" routerDirection="forward"
            [class.active-item]="selectedPath === p.url">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>{{p.title}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/login" routerDirection="root" (click)="logout()">
          <ion-icon slot="start" name="log-out"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>