:host {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 11 !important;
  background-color: white;
  transform: translateY(100vh);
}

// .scroll-content {
//   overflow: auto;  /* redundant, but just in case */
//   display: flex; /* redundant, but just in case */
//   flex-direction: column-reverse;
// }