<ion-header>
  <ion-toolbar class="bg-class">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Watch List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let vehicle of vehicles">
      <ion-item>
        <!-- TODO: Parameter shouldn't be chained -->
        <img class="img-icon" src='{{vehicle.setIcon}}' slot="start" name="car" />
        <ion-text (click)="trackLocation(vehicle.locationShare.url)">
          <p>
            <b>{{vehicle.carDetail.registrationNumber }}</b>
            <br>
            <span class="small-text">{{vehicle.carDetail.nickName }}</span>
            <!-- TODO: Parameter shouldn't be chained -->
            <br>
            <span class="small-text">{{vehicle.carDetail.make}} {{vehicle.carDetail.model}}</span>
          </p>
        </ion-text>
        <ion-button slot="end" (click)="callDriver()" expand="block" fill="clear">
          <ion-icon slot="icon-only" class="ml-5" src="assets/imgs/calldriver.svg"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>