<ion-header>
  <ion-toolbar class="bg-class">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid style="height:100%">
    <ion-row justify-content-center align-items-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <!-- <div text-center>
                  <img class="center" class="profile-pics" src="assets/imgs/user.svg" alt="assets/imgs/user.svg">
            </div> -->
        <div text-center>
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input #txtName type="text" [(ngModel)]="user.name" required></ion-input>
          </ion-item>
        </div>
        <!-- <div text-center>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input #txtemail type="text" [(ngModel)]="user.email"></ion-input>
          </ion-item>
        </div> -->
        <div text-center>
          <ion-item>
            <ion-label position="floating">Mobile Number</ion-label>
            <ion-input #txtmobile type="tel" [(ngModel)]="user.cellNumber" maxlength="10" disabled="true"></ion-input>
          </ion-item>
        </div><br>
        <br>
        <div text-center>
          <ion-button style="width: 50%;" (click)="updateProfile()">Update</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>