// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.bg-class{
    --background: linear-gradient(to right bottom, #1d2671 0%, #c33764 100%) !important;
    color: white;
}

.bg-header-img {
    --background: url(assets/imgs/watchdog.gif) 0 0/100% 100% no-repeat;
}

ion-input {
    font-size: 14px;
    color: #000000;
}

.borderedinput {
    border: 1px solid lightgray;
    margin: 10px auto;
    border-radius: 5px !important; 
    width: 100%;
    background: white;
}

.m-20 {
    margin: 20px 20px 20px 20px;
}

.mt-50 {
    margin-top: 50px;
}

.small-text{
    font-size: 12px;
}

.medium-text {
    font-size: 16px;
}

.searchbar-input-container.sc-ion-searchbar-md {
    background-color: white !important;
  }

.ml-5 {
    margin-left: 5px !important;
}

.mr-5 {
    margin-right: 5px !important;
}