<ion-header>
  <ion-toolbar class="bg-class">
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../../assets/imgs/menu.png" />
      </ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      <b class="title">WatchDog</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="map" id="map_canvas">
  </div>
  <ion-searchbar #search class="search" [(ngModel)]="search_vehicle" (search)="searchVehicle()"></ion-searchbar>
  <div style="display: none;">
    <ion-input #dstate type="text" hidden></ion-input>
  </div>
</ion-content>

<ion-bottom-drawer [disableDrag]="disableDrag" [(state)]="drawerState" [minimumHeight]="minimumHeight"
  [dockedHeight]="dockedHeight" [shouldBounce]="shouldBounce" [distanceTop]="distanceTop"
  style="background-color: white;">
  <div class="drawer-content">
    <ion-item lines="none">
      <ion-text slot="start">
        <p>
          <b>{{selectedVehicle.registrationNumber }}</b>
          <!-- TODO: Parameter shouldn't be chained -->
          <br>

          <span class="small-text">{{selectedVehicle.make}} {{selectedVehicle.model}}</span>
        </p>
      </ion-text>
      <ion-buttons slot="end">
        <ion-button (click)="trackVehicleLocation()" expand="block" fill="clear">
          <ion-icon slot="icon-only" class="mr-5" src="assets/imgs/map.svg"></ion-icon>
        </ion-button>
        <!-- <ion-button (click)="shareLocation()" expand="block" fill="clear">
          <ion-icon slot="icon-only" src="assets/imgs/share.svg"></ion-icon>
        </ion-button> -->
        <ion-button (click)="callDriver()" expand="block" fill="clear">
          <ion-icon slot="icon-only" class="ml-5" src="assets/imgs/calldriver.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </div>
</ion-bottom-drawer>