
#map_canvas {
    height: 100%;
    width: 100%;
  }

  .my-custom-menu {
    --width: 500px;
  }
  
.menu-img {
  margin-left: 2px;
  height: 18px;
  width: 20px;
}

.drawer-content {
  padding: 0.5px;
}

.cust-footer {
  background:none !important;
}

// .item-native {
//   margin-top: -5px;
// }

.map{
  position: relative;
}

.search{
  position: absolute;
  top: 0%;
}

.title {
  margin-left: -20px;
}